.clip-rectangle {
  clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
}

@media screen and (max-width: 769px) {
  .clip-rectangle {
    visibility: hidden;
  }
}

@media screen and (min-width: 640px) {
  .horizontal {
    justify-content: center;
    align-content: center;
  }
}
