.alignment {
  margin: 0 auto;
  width: 1300px;
}

.border-color {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #4275fa, #fc6947) 1;
}

@media screen and (max-width: 1300px) {
  .alignment {
    width: 1000px;
  }
}

@media screen and (max-width: 1100px) {
  .alignment {
    width: 650px;
  }
}

@media screen and (max-width: 780px) {
  .alignment {
    width: 300px;
  }
}
